@{
    ViewData["Title"] = "Home Page";
    //<a href="javascript:cafeInitialize();" >Initialize</a>  
}



  <script type="text/javascript">
     window.onload = function() {
         cafeInitialize();
      };
  </script>

<div class="text-center">
    <h1 class="display-4">dotnet Cafe Demo</h1>
    <div id="cafeEvents"></div>  
</div>