<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - dotnet.cafe.web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="#banner"><i class="fa fa-coffee"></i> Quarkus Coffee Shop</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about">About</a></li>
                <li><a href="#menu">Menu</a></li>
                <li><a href="#gallery">Gallery</a></li>
                @*<li><a href="#team">Team</a></li>
                <li><a href="#testimonials">Twitter</a></li>*@
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
 
</header>

<span id="banner"></span>
    <section class="banner">
        <div class="jumbotron">
            <div class="container">
                <div class="content">
                    <h5>Established 2020</h5>
                    <h1>Dotnet Coffee Shop</h1>
                    <a href="#menu" class="btn">Place an Order</a>
                </div>
            </div>
        </div>
    </section>
 <span class="anchor" id="about"></span>
 <section class="about">
     <div class="container padding-2x">
         <div class="row text-wrap">
             <div class="col-sm-12">
                 <h3 class="text-center">Welcome to Quarkus, Kafka, Kubernetes, and Coffee</h3>
                 <hr>
                 <p class="text-center">Quarkus is a Kubernetes Native Java stack tailored for OpenJDK HotSpot and GraalVM, crafted from the best of breed Java libraries and standards.</p>
             </div>
         </div>
         <div class="row about-info">
             <div class="col-sm-12 col-md-6">
                 <div class="box wow fadeIn" data-wow-duration="400ms" data-wow-offset="10">
                     <img src="images/about.jpg" alt="about" />
                 </div>
             </div>
             <div class="col-sm-12 col-md-6">
                 <div class="box wow fadeIn" data-wow-duration="800ms" data-wow-offset="10">
                     <h5>Our Story</h5>
                     <p>A Kubernetes Native Java stack tailored for OpenJDK HotSpot and GraalVM, crafted from the best of breed Java libraries and standards.</p>
                     <p>Quarkus tailors your application for GraalVM and HotSpot. Amazingly fast boot time, incredibly low RSS memory (not just heap size!) offering near instant scale up and high density memory utilization in container orchestration platforms like Kubernetes.</p>
                     <p>This application is demo showcasing an event driven Quarkus application that uses Apache Kafka for messaging.</p>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <span class="anchor" id="menu"></span>
 <section class="menu">
     <div class="container padding-2x">
         <div class="row text-wrap">
             <div class="col-sm-12">
                 <h3 class="text-center">Menu</h3>
                 <hr>
                 <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. </p>
             </div>
         </div>
         <div class="modal" id="myModal">
             <div class="modal-dialog">
                 <div class="modal-content">
                     <!-- Modal Header -->
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <h4 class="modal-title" >
                             Current Order
                         </h4>
                         <div class="pt-10">
                             <ul class="list-group mt-10" id="current_order">
                             </ul>
                         </div>
                         <div class="alert alert-success" role="alert"id="item_added_alert" >
                         </div>
                     </div>
                     <!-- Modal body -->
                     <div class="modal-body">
                         <form class="form-inline" action="" id="item_form">
                             <input type="hidden" id="item_type" name="item_type" />
                             <label for="item" class="mr-sm-2 input-cafe" id="item_label"></label>
                             <input type="hidden" id="item" name="item" />
                             <label for="name" class="mr-sm-2 input-cafe">for Name:</label>
                             <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter name" id="name" name="name">
                             <button type="submit" class="btn-sm btn-primary mb-2" >Add</button>
                         </form>
                     </div>
 
                     <!-- Modal footer -->
                     <div class="modal-footer">
                         <form class="form-inline" action="" id="order_form" >
                             <button type="button" class="btn-sm btn-danger" data-dismiss="modal" >Back to Menu</button>
                             <button type="submit" class="btn-sm btn-primary mb-2" >Place Order</button>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
         <div class="row menu-lists">
             <div class="col-sm-12">
                 <ul class="nav nav-tabs nav-justified">
                     <li class="active"><a data-target="#espresso" data-toggle="tab">BARISTA</a></li>
                     <!--
                     <li><a data-target="#breakfast" data-toggle="tab">BREAKFAST</a></li>
                     <li><a data-target="#lunch" data-toggle="tab">LUNCH</a></li>
                     -->
                     <li><a data-target="#bakery" data-toggle="tab">BAKERY</a></li>
                 </ul>
                 <div class="tab-content">
                     <div class="tab-pane active" id="espresso">
                         <div class="row">
                             <div class="col-xs-12 col-md-6">
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Coffee (black)</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#myModal" data-whatever="COFFEE_BLACK" data-item_type="beverage" data-display_name="Coffee (black)">Add</button>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>a full cup of coffee</p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Coffee (with room)</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#myModal" data-whatever="COFFEE_WITH_ROOM" data-item_type="beverage" data-display_name="Coffee (with room)">Add</button>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>a cup of coffee with room for cream or milk</p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Espresso - $3.25</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#myModal" data-whatever="ESPRESSO" data-item_type="beverage" data-display_name="Espresso">Add</button>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>espresso served with seltzer water</p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Espresso (Double) - $4.25</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#myModal" data-whatever="ESPRESSO_DOUBLE" data-item_type="beverage"data-display_name="Double Espresso">Add</button>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>2 shots of espresso</p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Cappuccino - $3.75</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#myModal" data-whatever="CAPPUCCINO" data-item_type="beverage" data-display_name="Cappucino">Add</button>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>espresso + 4 oz steamed milk</p>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-xs-12 col-md-6">
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Croissant - $4.00</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#myModal" data-whatever="CROISSANT" data-item_type="kitchen" data-display_name="Butter Croissant">Add</button>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>fresh baked butter croissant</p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Chocolate Croissant - $4.00</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#myModal" data-whatever="CROISSANT_CHOCOLATE" data-item_type="kitchen" data-display_name="Chocolate Croissant">Add</button>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>fresh baked butter croissant</p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Muffin - $3.25</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#myModal" data-whatever="MUFFIN" data-item_type="kitchen" data-display_name="Muffin of the Day">Add</button>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>blueberry muffin</p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Cakepop - $2.25</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#myModal" data-whatever="CAKEPOP" data-item_type="kitchen" data-display_name="Cakepop">Add</button>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>chocolate cake with strawberry frosting</p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="tab-pane" id="breakfast">
                         <div class="row">
                             <div class="col-xs-12 col-md-6">
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-xs-12 col-md-6">
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="tab-pane" id="lunch">
                         <div class="row">
                             <div class="col-xs-12 col-md-6">
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-xs-12 col-md-6">
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="tab-pane" id="bakery">
                         <div class="row">
                             <div class="col-xs-12 col-md-6">
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-xs-12 col-md-6">
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                                 <div class="menu-item">
                                     <div class="name-price-wrap">
                                         <div class="name pull-left">
                                             <h6>Lorem Ipsum Dolor</h6>
                                         </div>
                                         <div class="price pull-right">
                                             <h6>$20</h6>
                                         </div>
                                     </div>
                                     <div class="desc">
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <span class="anchor" id="statusboard"></span>
 <section class="statusboard">
     <div class="container padding-2x">
         <div class="row text-wrap">
             <div class="col-sm-12">
                 <h3 class="text-center">Orders</h3>
                 <hr/>
                 <p class="text-center">Check Here for Your Order Status</p>
             </div>
             <div class="row justify-content-center">
                 <table class="table table-lg table-striped">
                     <thead class="thead-dark">
                     <tr>
                         <th style="width:30%">Customer</th>
                         <th style="width:30%">Item</th>
                         <th style="width:20%">Status</th>
                         <th style="width:20%">Prepared By</th>
                     </tr>
                     </thead>
                     <tbody>
                     </tbody>
                 </table>
 
             </div>
         </div>
     </div>
 </section>
 
 <span class="anchor" id="gallery"></span>
 <section class="gallery">
     <div class="container padding-2x">
         <div class="row text-wrap">
             <div class="col-sm-12">
                 <h3 class="text-center">Gallery</h3>
                 <hr>
                 <p class="text-center">Pictures of café like things that lend an air of verisimillitude to our demo.</p>
             </div>
         </div>
         <div class="row gallery-images justify-content-center">
             <div class="col-md-12">
                 <div class="row">
                     <div class="col-md-4 image wow fadeIn" data-wow-delay="100ms" >
                         <a href="images/gallery1.png" data-toggle="lightbox" data-gallery="lava-gallery">
                             <img src="images/gallery1.png" class="img-responsive" alt="gallery1">
                         </a>
                     </div>
                     <div class="col-md-4 image wow fadeIn" data-wow-delay="200ms" >
                         <a href="images/gallery2.png" data-toggle="lightbox" data-gallery="lava-gallery">
                             <img src="images/gallery2.png" class="img-responsive" alt="gallery2">
                         </a>
                     </div>
                     <div class="col-md-4 image wow fadeIn" data-wow-delay="300ms" >
                         <a href="images/gallery3.png" data-toggle="lightbox" data-gallery="lava-gallery">
                             <img src="images/gallery3.png" class="img-responsive" alt="gallery3">
                         </a>
                     </div>
                     <div class="col-md-4 image wow fadeIn" data-wow-delay="400ms" >
                         <a href="images/gallery4.png" data-toggle="lightbox" data-gallery="lava-gallery">
                             <img src="images/gallery4.png" class="img-responsive" alt="gallery4">
                         </a>
                     </div>
                     <div class="col-md-4 image wow fadeIn" data-wow-delay="500ms" >
                         <a href="images/gallery5.png" data-toggle="lightbox" data-gallery="lava-gallery">
                             <img src="images/gallery5.png" class="img-responsive" alt="gallery5">
                         </a>
                     </div>
                     <div class="col-md-4 image wow fadeIn" data-wow-delay="600ms" >
                         <a href="images/gallery6.png" data-toggle="lightbox" data-gallery="lava-gallery">
                             <img src="images/gallery6.png" class="img-responsive" alt="gallery6">
                         </a>
                     </div>
                     <div class="col-md-4 image wow fadeIn" data-wow-delay="700ms" >
                         <a href="images/gallery7.png" data-toggle="lightbox" data-gallery="lava-gallery">
                             <img src="images/gallery7.png" class="img-responsive" alt="gallery6">
                         </a>
                     </div>
                     <div class="col-md-4 image wow fadeIn" data-wow-delay="800ms" >
                         <a href="images/gallery8.png" data-toggle="lightbox" data-gallery="lava-gallery">
                             <img src="images/gallery8.png" class="img-responsive" alt="gallery6">
                         </a>
                     </div>
                     <div class="col-md-4 image wow fadeIn" data-wow-delay="900ms" >
                         <a href="images/gallery9.png" data-toggle="lightbox" data-gallery="lava-gallery">
                             <img src="images/gallery9.png" class="img-responsive" alt="gallery6">
                         </a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <span class="anchor" id="reservation"></span>
 <section class="cat">
     <div class="container-fluid padding-2x">
         <div class="row">
             <div class="col-xs-12">
                 <div class="container">
                     <div class="row">
                         <div class="col-xs-12">
                             <h4>Want to make a reservation? <i class="fa fa-phone"></i> Call 012-345-6789</h4>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <span class="anchor" id="contact"></span>
 <section class="contact">
     <div class="container padding-2x">
         <div class="row text-wrap">
             <div class="col-sm-12">
                 <h3 class="text-center">Contact</h3>
                 <hr>
                 <p>Want to talk to a Red Hatter about Dotnet, Kafka, or Kubernetes?  Or let us know what you thought about the demo?</p>
             </div>
         </div>
         <div class="row">
             <div class="col-xs-12 col-md-8 col-md-offset-2">
                 <form>
                     <div class="form-group col-md-6">
                         <input type="text" placeholder="Name" class="form-control" id="name">
                     </div>
                     <div class="form-group col-md-6">
                         <input type="text" placeholder="Email" class="form-control" id="email">
                     </div>
                     <div class="form-group col-xs-12">
                         <input type="text" placeholder="Subject" class="form-control" id="subject">
                     </div>
                     <div class="form-group col-xs-12">
                         <textarea class="form-control" placeholder="How can we help you?" rows="6" id="message"></textarea>
                     </div>
                     <button type="submit" class="btn btn-default">Submit</button>
                 </form>
             </div>
         </div>
         <div class="row contact-boxes">
             <div class="col-lg-4">
                 <div class="box wow fadeInUp" data-wow-duration="400ms" data-wow-offset="10">
                     <i class="fa fa-map-marker"></i>
                     <h6>Visit With Us</h6>
                     <p><a href="https://quarkus.io">Quarkus.io</a></p>
                 </div>
             </div>
             <div class="col-lg-4">
                 <div class="box wow fadeInUp" data-wow-duration="800ms" data-wow-offset="10">
                     <i class="fa fa-phone"></i>
                     <h6>Get In Touch</h6>
                     <p><a href="https://quarkusio.zulipchat.com" >Quarkus Zulip Chat</a></p>
                     <p><a href="https://groups.google.com/forum/#!forum/quarkus-dev">Google Groups</a></p>
                 </div>
             </div>
             <div class="col-lg-4">
                 <div class="box wow fadeInUp" data-wow-duration="1.2s" data-wow-offset="10">
                     <i class="fa fa-clock-o"></i>
                     <h6>Hours of Operation</h6>
                     <p>Monday-Friday: 9am-7pm<br />
                         Saturday &amp; Sunday: 8am-8pm
                     </p>
                 </div>
             </div>
         </div>
     </div>
 </section>  
 
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<div class=".d-none"></div>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - dotnet.cafe.web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/cafe.js" asp-append-version="true"></script>
<script src="~/js/custom.js" asp-append-version="true"></script>
<script src="~/js/jquery.matchHeight.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>